<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about-sec">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veritatis, eos cum sequi illo explicabo recusandae perferendis soluta qui praesentium tempora rerum ea, quidem fugit. Modi blanditiis dolorem ullam odio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veritatis, eos cum sequi illo explicabo recusandae perferendis soluta qui praesentium tempora rerum ea, quidem fugit. Modi blanditiis dolorem ullam odio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veritatis, eos cum sequi illo explicabo recusandae perferendis soluta qui praesentium tempora rerum ea, quidem fugit. Modi blanditiis dolorem ullam odio?</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>
